/front/.DS_Store

# NPM package repo
/front/node_modules
/front/package-lock.json

# Generated distribution
/front/dist

# Local env files
/front/.env.local
/front/.env.*.local

# Log files
/front/npm-debug.log*
 
# Editor configuration
/front/.vscode


# Log files.
/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*


# Editor directories and files
/front/.idea
/front/*.suo
/front/*.ntvs*
/front/*.njsproj
/front/*.sln
/front/*.sw?


# BACK : NPM package repo
/back/node_modules
/back/package-lock.json

# Back : Laravel Hot
/back/public/hot

# Back : Storage
/back/public/storage

# Back : Storage key
/back/storage/*.key

# Back : Vendor PHP Library
/back/vendor

# Back : Enviroment Variable file
/back/.env

# Back : Enviroment Variable file backup
/back/.env.backup

# Back : Unit Test
/back/.phpunit.result.cache

# Back : Docker file
/back/docker-compose.override.yml

# Back : Home Stead
/back/Homestead.json
/back/Homestead.yaml

# Back : npm logo
/back/npm-debug.log

# Back : Yarn log
/back/yarn-error.log

# Back : idea
/back/.idea

# Back : vscode 
/back/.vscode
